.faq-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Card */

.faq-item {
  border-radius: 14px;
  padding: 18px 22px;
  cursor: pointer;
  transition: background 0.2s ease;
  border: 1px solid #ddd;
}

/* Alternating colors */

.faq-item.pink {
  background: #F6DDE1;
  border-color: #FFADD8;
}

.faq-item.gray {
  background: #F3F4F5;
  border-color: #D7DBE0;
}

/* Header */

.faq-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
}

/* Chevron */
.chevron-icon {
color: #8793A1;
  width: 18px;
  height: 18px;
  transition: transform 0.25s ease;
}

/* Body */

.faq-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-body p {
  margin-top: 12px;
  color: #424242;
  line-height: 1.5;
  font-size: 12px;
}

/* Open State */

.faq-item.open .chevron-icon {
  transform: rotate(180deg);
}


.faq-item.open .faq-body {
  max-height: 200px;
}
