.contact-section {
  background: #ffffff;
  display: flex;
  align-items: flex-end;
}

 .contact-container {
  width: min(1300px, 92vw);
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: clamp(20px, 6vw, 120px);
}
.contact-container > * {
  flex: 1;
}

@media (max-width: 768px) {
  .contact-section {
   margin-top:52px;
  }
}
