.stack-container {
  height: 500vh;
  padding-top: 20vh;
}

.stack-card {
  position: sticky;
  top: 18vh;

  width: min(1100px, 88vw);
  margin-inline: auto;

  height: 450px;             
  margin-bottom: 140px;

  background: white;
  border-radius: 40px;
  padding: 56px;

  box-shadow: 0 30px 60px rgba(0,0,0,0.08);
  transition: transform 0.18s cubic-bezier(0.22, 1, 0.36, 1);
  transform-origin: top center;
}


@media (max-width: 765px) {

  .stack-container {
    height: 580vh;
    padding-top: 12vh;
  }

  .stack-card {
    transform: scale(0.5);
    position: sticky;  

    width: 92vw;
    height: auto;
    min-height: 380px;

    padding: 28px;
    margin-bottom: 120px;

    border-radius: 28px;
  }
}

